.main-container {
  margin: auto auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 100%;
}

.rectangle {
  height: 0;
  width: 3vw;
  margin: 1%;
  border-radius: 10px;
  background-color: rgb(255, 0, 0, 0);
  animation-duration: 2s;
  animation-name: pulse;
  /* animation-direction: alternate; */
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    background-color: rgb(255, 0, 0, 0);
  }
  25% {
    background-color: rgb(255, 0, 0, 0.7);
  }
  50% {
    height: 200px;
    background-color: rgba(0, 102, 255, 0.6);
  }
  80% {
    background-color: rgb(0, 102, 255, 0);
  }
  to {
    background-color: rgb(0, 0, 0, 0);
  }
}

.delay1 {
  animation-delay: 0.1s;
}
.delay2 {
  animation-delay: 0.2s;
}
.delay3 {
  animation-delay: 0.3s;
}
.delay4 {
  animation-delay: 0.4s;
}
.delay5 {
  animation-delay: 0.5s;
}
.delay6 {
  animation-delay: 0.6s;
}
.delay7 {
  animation-delay: 0.7s;
}
