* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

a:visited {
  color: black;
}

body {
  font-size: 62.5%;
  /* font-family: "Orbitron", sans-serif; */
  /* font-family: "Press Start 2P", cursive; */
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .App {
    background-color: whitesmoke;
    display: grid;
    grid-template: 0.9fr 0.4fr 7fr 0.3fr / 1fr 3fr 1fr;
    grid-template-areas:
      "header header sign-in"
      "nav nav nav"
      "router router router"
      "footer footer footer";
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
  }
}
/* @media screen and (max-width: 1280px) {
  .App {
    background-color: whitesmoke;
    display: grid;
    grid-template: 0.9fr 0.3fr 7fr 0.3fr / 1fr 3fr 1fr;
    grid-template-areas:
      "header header sign-in"
      "nav nav nav"
      "router router router"
      "footer footer footer";
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
  }
} */

.header {
  grid-area: header;
  /* font-family: "Press Start 2P", cursive; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.header-text-main {
  font-family: "Orbitron", sans-serif;
  font-size: 4.5em;
  padding-top: 10px;
}

.current-date {
  font-size: 1.4em;
  color: black;
}

/* .sign-in {
  margin: 15px 0px 17px 12px;
  padding: 0 5px;
  grid-area: sign-in;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.4);
  border: 2px solid red;
  border-right-width: 0;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  font-size: 1.3em;
}

.sign-in > a {
  color: white;
} */

.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 50%;
  width: 50%;
}

.burger-element {
  background-color: rgb(104, 104, 104);
  height: 20%;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-flow: row nowrap;
  align-items: space-between;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-top: 2px solid rgba(0, 102, 255, 0.6);
}
.nav::-webkit-scrollbar {
  display: none;
}

.nav-element {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
}

.nav-element-div {
  border-top: 5px solid transparent;
  transition: border-color 0.6s;
}

.nav-element:hover > div {
  border-top: 5px solid rgba(0, 102, 255, 0.6);
  transition: border-color 0.3s;
}

.nav-home {
  padding: 5px;
  font-size: 1.5em;
  color: black;
}

.topic-slug {
  font-size: 1.5em;
  color: black;
  margin-left: 5px;
  margin-right: 15px;
}

.toolbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-right: 17px;
}

.router {
  grid-area: router;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-size: 1.5em;
}

.top-articles {
  grid-area: tops;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  border-bottom: 2px solid rgba(0, 102, 255, 0.6);
}

.top-articles > a {
  color: white;
  background-color: rgba(0, 102, 255, 0.6);
  padding: 10px 2px;
  margin: 5px 5px 15px 5px;
  border-radius: 15px;
}

.main-page {
  display: flex;
  flex-flow: column nowrap;
}
.main-articles {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.article-preview {
  padding: 5px;
  margin: 0.3em;
  margin-right: 8px;
  border-radius: 15px;
  /* background-color: grey; */
  box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.342);
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1.2em;
  background-color: rgba(0, 102, 255, 0.6);
}

.footer-text {
  color: rgb(255, 255, 255);
  margin: 0 5px;
}

.overlay-fader {
  position: absolute;
  bottom: 100%;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255, 1) 80%);
  z-index: 1;
  pointer-events: none;
}

.fade-spacer {
  min-height: 50px;
  background-color: white;
  border-top: 2px solid rgba(0, 102, 255);
}

.article {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.article-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.comment {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 50px;
}

.sorter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.button {
  font-family: inherit;
  padding: 2px;
  box-shadow: none;
  border: none;
  color: black;
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
