* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Orbitron", sans-serif;
  /* font-family: "Press Start 2P", cursive; */
  /* font-family: Arial, Helvetica, sans-serif; */
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .App {
    background-color: white;
    display: grid;
    grid-template: 1.2fr 0.5fr 7fr 0.3fr / 1fr 3fr 1fr;
    grid-template-areas:
      "header header sign-in"
      "nav nav nav"
      "router-main router-main router-main"
      "footer footer footer";
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 1px;
    font-size: 1.5em;
    text-align: center;
  }
}

.header {
  grid-area: header;
  border: 1px solid red;
  text-align: left;
}
.sign-in {
  grid-area: sign-in;
  border: 1px solid red;
}
.current-date {
  color: red;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid red;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

.nav-element {
  margin: 3px;
}
.toolbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 1px solid red;
}

.router-main {
  grid-area: router-main;
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;
  border: 1px solid red;
}

.top-articles {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid red;
}

.main-articles {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  border: 1px solid red;
}

.article-preview {
  padding: 2px;
  border: 1px solid red;
}

.footer {
  grid-area: footer;
  border: 1px solid red;
  position: relative;
  padding: 0;
}

.footer-text {
  border: 1px solid rgba(0, 102, 255, 0.6);
}

.overlay-fader {
  position: absolute;
  bottom: 100%;
  height: 35px;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  z-index: 1;
}

.article {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}

.comment {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.sorter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 1px solid red;
}

.button {
  border: 2px solid rgba(0, 102, 255, 0.6);
}

.button:hover {
  border: 2px solid rgba(255, 0, 0, 0.6);
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
